{% include 'adminhead.html' %}
<br>
<br>
<center><b>CATEGORY</b></center>
<br><br>
<form action="/cataction/" onsubmit="return check()">
<center>
<table cellpadding="5px;">
<tr>
<!--<th>Category id:</th>
<td><input type="text" name="t1"></td>-->
</tr>
<tr></tr>
<tr>
<th>Category Name:</th>
<td><input type="text" name="t2" required ></td>
</tr>
<tr><td><br></td></tr>
<tr>
<th>Description:</th>
<td><input type="text" name="t3" required ></td>
</tr>
</table>
<tr><td><br></td></tr>
<center><input type="submit" name="t4" value="ADD"></center>
</center>
</form>
<br>
<br>
<center>
	<style> 
		#customers  
		{ 
			font-family:Arial,Helvetica,sans-serif; 
			border-collapse:collapse; 
			width:80%; 
		 
		} 
		#customers td, #customers th { 
			border:1px solid #ddd; 
			padding:8px; 
		 
		} 
		#customers tr:nth-child(even){background-color:#f2f2f2;} 
		#customers tr:hover{background-color:#ddd;} 
		#customers th { 
		padding-top:12px; 
		padding-bottom:12px; 
		text-align:left; 
		background-color:#1d2951 ; 
		color:white; 
		} 
		#customers th, td  
			{ 
				padding-left: 10px; 
				padding-right:6px;  
				padding-top:1px; 
				padding-bottom:20px; 
			} 
		 
		</style>
	<table id="customers">
<tr>
<!--<th>category_id</th>-->
<th>Category Name</th>
<th>Category Description</th>
</tr>
{% for i in list %}
<tr>
<!--<td>{{i.ccod}}</td>-->
<td>{{i.cname}}</td>
<td>{{i.cdesc}}</td>
<td><a href="/delcat?n={{i.ccod}}">delete</a></td>
</tr>
{% endfor %}

</table>
<center>
<div class="clearfix"></div>
	</div>
		<p class="copy-right">&copy 2017 Elite shoppy. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>
<!-- //footer -->

<!-- login -->
		
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="/static/js/modernizr.custom.js"></script>
	<!-- Custom-JavaScript-File-Links --> 
	<!-- cart-js -->
	<script src="/static/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js --> 
<!-- script for responsive tabs -->						
<script src="js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion           
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- //script for responsive tabs -->		
<!-- stats -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<script src="/static/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->


<!-- for bootstrap working -->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>
