<html>
<body>
<center><b>CUSTOMER</b></center>
<br><br>
<form action="/custaction/" onsubmit="return check()">
<center>
<table>
<th align="justify">Name:</th>
<td><input type="text" name="t1" id="cname" required/></td>
</tr>
<tr></tr>
<tr>
<th align="justify">House Name:</th>
<td><input type="text" name="t2" id="chname" required/></td>
</tr>
<tr></tr>
<tr>
<th align="justify">Street:</th>
<td><input type="text" name="t3" id="cstreet" required/></td>
</tr>
<tr>
<th align="justify">City:</th>
<td><input type="text" name="t4" id="ccity" required/></td>
</tr>
<tr></tr>
<tr>
<th align="justify">District:</th>
<td><input type="text" name="t5" id="cdist" required/></td>
</tr>
<th align="justify">Pincode:</th>
<td ><input type="number" name="t6" maxlength="6" id="cpin" required/></td>
</tr>
<tr></tr>   
<tr>
<th align="justify">State:</th>
<td><input type="text" name="t7" id="cstate" required/></td>
</tr>
<tr></tr>
<th align="justify">Phone No:</th>
<td><input type="number" name="t8" maxlength="10" id="cphone" required/></td>
</tr>
<tr></tr>
<tr>
<th align="justify">Email id:</th>
<td><input type="text" name="t9" id="cemail" required/></td>
</tr>
<tr></tr>
<tr>
<th align="justify">Password:</th>
<td><input type="text" name="t10" id="cpass" required/></td>
</tr>
</table>
<br><br>
<center><input type="submit" name="t11" value="ADD"></center>
</center>
</form>
</body>
</html>
