
		
{% include 'userhead.html' %}

<div class="container-fluid">

                       
	 <div class="hero row align-items">
            <div class="col-md-12">
			
				<br>
				<br>
				
		
					
						<h1><b>MY ODERS  </b></h1>
						
				<br>
				<br>
	<center>
						<table class="table table-striped" style="width:80%">
							<thead>
								<tr style="background-color:#black7;color:white;height:50px">
									<th>Image</th>
									<th>Product Name</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>Total</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{% for i in book %}
								<tr>
									
									<td><img alt="" src="/media/{{i.p_image}}" width="100px" height="100px"></td>
									<td> {{i.pname}}</td>
									<td> {{i.qty}}</td>
									<td> {{i.mrp}}</td>
									<td> {{i.ttt}}</td>
									<td> {{i.ostatus}}</td>
									
		 </tr>			  
		 {% endfor %}
							</tbody>
						</table>
					</center>
					</div>


		</div>
</div>


 <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/static/lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
    </body>
</html>