<html>
<body>
<center><b>PAYMENT</b></center>
<br><br>
<form action="/payaction/" onsubmit="return check()">
<center>
<table>
<th align="justify">Card Holder Name:</th>
<td><input type="text" name="t1"></td>
</tr>
<tr></tr>
<tr>
<th align="justify">Card Number:</th>
<td><input type="text" name="t2"></td>
</tr>
<tr></tr>
<tr>
<th align="justify">CVV :</th>
<td><input type="text" name="t3"></td>
</tr>
<tr></tr>
<tr>
<th align="justify">Expiry Date :</th>
<td><input type="date" name="t4"></td>
</tr>
<tr></tr>
<tr>
<th align="justify">amount :</th>
<td><input type="text" name="t5"></td>
</tr>
</table>
<br><br>
<center><input type="submit" name="t6" value="PAY"></center>
</center>
</form>
</body>
</html>