<Html>  
<head>   
<title>   
</title>  
</head>  
<body bgcolor="">  
<br>  
<br>  
<form action="/cataction/" onSubmit="return check()">  

  <center>
  
  <h1>Purchase Child</h1>
<label> Item Code: </label>         
<input type="text" name="pid"/> <br> <br>
<label> Quantity: </label> 
<input type="number" name="qty"/> <br> <br>
<label> Amount: </label>         
<textarea type="text" name="amt"/></textarea> <br> <br>


<input type="submit" value="Add"/> </center> 
</form>  
</body>  
</html>  