
{% include 'adminhead.html' %}
 <div class="breadcrumb-option set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Purchase Report</h2>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
	<br>
<center>
  
<div style="width:90%" > 
         
			
	<br>
	<br>
				
						
			<table>
						<center><form action="/purreport/">
				<input type="date" name="d1"/><input type="date" name="d2"/>
				<input type="submit" value="search"/></form></center>
			
		</table>

<br>
<br>
		
						
						<!-- <table border="1" style="width:100%;text-align:center"> -->
							<style> 
								#customers  
								{ 
									font-family:Arial,Helvetica,sans-serif; 
									border-collapse:collapse; 
									width:100%; 
								 
								} 
								#customers td, #customers th { 
									border:1px solid #ddd; 
									padding:8px; 
								 
								} 
								#customers tr:nth-child(even){background-color:#f2f2f2;} 
								#customers tr:hover{background-color:#ddd;} 
								#customers th { 
								padding-top:12px; 
								padding-bottom:12px; 
								text-align:left; 
								background-color:#1d2951 ; 
								color:white; 
								} 
								#customers th, td  
									{ 
										padding-left: 10px; 
										padding-right:6px;  
										padding-top:1px; 
										padding-bottom:20px; 
									} 
								 
								</style>
							<table id="customers">
	<tr style="height:50px">
								
									<th>Purchase Date</th>
									<th>Product code</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>Total</th>
								
									
								</tr>

							<tbody>
							{% for i in list %}
								<tr>
									
									<td> {{i.pdate}}</td>
									<td> {{i.icode}}</td>
									<td> {{i.pqty}}</td>
									<td> {{i.pamt}}</td>
									<td> {{i.tamt}}</td>
									
									
		 </tr>			  
		{% endfor %}
							</tbody>
						</table>
			<br>
<button onclick="window.print()">PRINT </button>
</center> 			

<!-- js -->
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="/static/js/modernizr.custom.js"></script>
	<!-- Custom-JavaScript-File-Links --> 
	<!-- cart-js -->
	<script src="/static/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js --> 
<!-- script for responsive tabs -->						
<script src="js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion           
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- //script for responsive tabs -->		
<!-- stats -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<script src="/static/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->


<!-- for bootstrap working -->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>
					
