<html>
<body>
<center><table border="1">
<tr>
<!--<th>Vendor_id</th>-->
<th>Name</th>
<th>Ownwer name</th>
<th>Address</th>
<th>City</th>
<th>District</th>
<th>State</th>
<th>Pincode</th>
<th>Email</th>
<th>Phone no:</th>
</tr>
{% for i in list %}
<tr>
<!--<td>{{i.vid}}</td>-->
<td>{{i.cname}}</td>
<td>{{i.oname}}</td>
<td>{{i.adr}}</td>
<td>{{i.city}}</td>
<td>{{i.dist}}</td>
<td>{{i.state}}</td>
<td>{{i.pin}}</td>
<td>{{i.em}}</td>
<td>{{i.phn}}</td>
</tr>
{% endfor %}

</table></center>
</body>
</html>