{% include 'adminhead.html' %}
<br>
<br>

<center><h1>Product Details</h1></center>
<br>
<br>


				<!-- <table border="1" style="width:100%;text-align:center">
					<tr style="background-color:black;color:white;height:50px"> -->
						<style> 
							#customers  
							{ 
								font-family:Arial,Helvetica,sans-serif; 
								border-collapse:collapse; 
								width:80%; 
							 
							} 
							#customers td, #customers th { 
								border:1px solid #ddd; 
								padding:8px; 
							 
							} 
							#customers tr:nth-child(even){background-color:#f2f2f2;} 
							#customers tr:hover{background-color:#ddd;} 
							#customers th { 
							padding-top:12px; 
							padding-bottom:12px; 
							text-align:left; 
							background-color:#1d2951 ; 
							color:white; 
							} 
							#customers th, td  
								{ 
									padding-left: 10px; 
									padding-right:6px;  
									padding-top:1px; 
									padding-bottom:20px; 
								} 
							 
							</style>
						<center><table id="customers">
			
			
				 <th>Product ID </th>
				 <th>Product Name</th>
				  <th>Category</th>
					<th>Sub Category</th>
					  <th>Brand</th>
				 <th>Description</th>
				  <th>Size</th>
				 <th>MRP</th>
				 <th>Quantity</th>
				 <th>Action</th>
				</tr>


					 {% for j in list4 %}
					 <tr>
					<td><img src="/media/{{j.p_image}}" width="150" height="70px"><br>{{j.icode}}</td>
				
					<td>{{j.iname}}</td>
							<td>{{j.ccode}}</td>
								<td>{{j.scode}}</td>
									<td>{{j.bcode}}</td>
					
					<td>{{j.desp}}</td>	
					<td>{{j.size}}</td>	
					<td>{{j.mrp}}</td>
					<td>{{j.qty}}</td>	
					<td><a style="color:red;" href="/delprod?n={{j.icode}}">Delete</a>|<a style="color:green;" href="/editprod?n={{j.icode}}">Edit</a></td>
					</tr>
				  {% endfor %}
				

				</table></center>
				<br>
<br>
<br>
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="/static/js/modernizr.custom.js"></script>
	<!-- Custom-JavaScript-File-Links --> 
	<!-- cart-js -->
	<script src="/static/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js --> 
<!-- script for responsive tabs -->						
<script src="js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion           
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- //script for responsive tabs -->		
<!-- stats -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<script src="/static/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->


<!-- for bootstrap working -->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>
